#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --shadow-md: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
  --shadow-lg:
    0 10px 12px rgba(0, 0, 0, 0.16),
    0 4px 16px rgba(0, 0, 0, 0.12);
  --shadow-sm:
    0px 3px 10px rgba(0,0,0,.16),
    0px 3px 10px rgba(0,0,0,.16);
  --color-primary: hsl(336.28deg 100% 50.39%);
  --color-primary--hover: hsl(336.28deg 100% 45.39%);
  --color-primary-inverse: hsl(0, 0%, 100%);
  --color-primary-inverse--hover: hsl(0, 0%, 98%);
  --text-color-primary: white;
  --text-color-primary-inverse: hsl(336.28deg 100% 45.39%);
}

html, body, #root {
  height: 100%;
  width: 100%;
  padding: 0;
  text-align-last: left;
}

body {
  box-sizing: border-box;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

*, *::before, *::after {
  box-sizing: inherit;
}

.list > * {
  padding: 0;
  margin: 0;
  list-style: none;
}